<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Rails shopp</h1>
    <h2>Here you can:</h2>
    <ul>
      <li><h3>Browse items by catergories</h3></li>
      <li><h3>Save an item you like into your shopping cart</h3></li>
      <li><h3>Buy everything in your cart with only on click</h3></li>
      <li><h3>Manage your previous orders with ease</h3></li>
      <li><h3>Download your order history PDF to keep records</h3></li>
    </ul>
    <br>
    <br>
    <br>

    <div class="text-center">
      <%= button_to "Start shopping now", categories_path, class: "btn btn-lg btn-primary", method: :get %>
    </div>

  </div>
</div>

