/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#cart-button-inline div {
  display: inline-block;
}

#how-much-i-spend {
  float: right;
}

#checkout-and-pay-button {
  float: right;
}